.main-text {
  margin: 10px;
  color: #282c34;
  font-size: 1.2em;
  font-weight: bold;
}

.member-table-head {
  font-family: 'Open Sans', 'Source Han Sans SC', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  text-align: center;
  margin: 10px;
  color: #282c34;
  font-size: 1.3em;
  font-weight: bold;
}

.member-table-th {
  padding: .5em;
}

.member-table-tr {
  box-shadow: 0px 1px 0 0 rgb(34 36 38 / 15%);
}

.member-table-td {
  text-align: center;
  padding: .2em;
  font-family: 'Open Sans', 'Source Han Sans SC', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  color: #282c34;
  font-size: 1.1em;
}

.td-edit-form-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.td-edit-input {
  width: 8em;
}

.td-edit-submit-btn {
  cursor: pointer;
  margin: 2px;
}

.member-table-tr-display {
  cursor: pointer;
}