.action-page {
  background-color: #66BAB7;
  min-height: 100vh;
  font-size: calc(16px + vmin);
  color: white;
}

.action-btn-icon {
  padding: 0.1em 0.2em;
  border-style: solid;
  border-width: 2px;
  border-color: #282c34;
  border-radius: 0.5em;
  width: 60px;
  height: 60px;
}

.action-head {
  padding: 20px;
}

.action-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-return-popup {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-return-popup-submit {
  margin: 20px;
  padding: 5px;
  font-size: 1.5em;
	text-align: center;
	color: #08ffea;
	user-select: none;

	border: 2px solid #08ffea;
	border-radius: 5px;
	background-color: #1f1f1f;
}